.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(4, 59, 18);
  padding: 15px;
}

.nav, .nav a {
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 18px;
text-decoration: none;
font-weight: bold;
color: rgb(255, 255, 255);
height: 50px;
border-bottom: 2px solid black;
background-color: #075d0c;
}

.nav a:hover {
  color: red;
}

.searchWrapper {
width: 100%;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
border: solid black;
}

.search {
display: flex;
justify-content: center;
align-items: center;
height: 30px;
}

.searchInputWrapper {
height: 100%;
}

.searchInput {
  width: 360px;
  height: 25px;
}

.searchBtnWrapper {
height: 100%;
}

.searchBtn {
  height: 100%;
}

.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
}

.mainBannerWrapper{
  width: 100%;
}

.mainBanner {
  width: 100%;
  height: 350px;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(62, 132, 70);
}

.clothingBoxWrapper,.groceriesBoxWrapper,.electronicsBoxWrapper {
  width: 350px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.clothingTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 30px;
  font-weight: bold;
}

.clothingOuter{
width: 100%;
height: 100%;
display: flex;

}

.clothing,.groceries,.electronics {
  height: 225px;
  width: 135px;
  border: solid black;
  margin: auto;
  
}

.bannerTopImgWrapper{

}

.bannerTopImg{
height: 160px;
width: 135px;
}

.bannerBottomTitle{
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topMainWrapper{
  width: 100%;
  margin-bottom: 35px;
  border: solid red;
  display: flex;
  justify-content: space-evenly;
}

.topMain {
  width: 200px;
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
  border: solid purple;
}

.midMainWrapper {
  width: 100%;
  margin-bottom: 35px;
  border: solid green;
  display: flex;
  justify-content: space-evenly;
}

.midMain {
  width: 200px;
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
  border: solid purple;
}

.bottomMainWrapper {
  width: 100%;
  height: 250px;
  margin-bottom: 35px;
  border: solid blue;
  display: flex;
  justify-content: space-evenly;
}

.bottomMain {
  width: 200px;
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
  border: solid purple;
}
